html, body {
    height: 100%;
    margin: 0;
}
.container {
    height: 100%;
}
.section {
  height: 25%;
}

.header {
  background-color: #1f2937;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header a {
  font-size: 18px;
  color: #e5e7eb;
}

.header h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.top {
  display: flex;
  justify-content: space-around;
}
.top a {
  display: flex;
}
