:root {
  --primary-color:#f9faf8;
}
html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100%;
  display: flex;
}
.section {
  display: flex;
  flex-direction: row;
}

.header {
  background-color: #1f2937;
}

.header-logo {
  font-size: 24px;
  color: var(--primary-color);
}

.header a {
  font-size: 18px;
  color: #e5e7eb;
}

.header h1 {
  font-size: 48px;
  font-weight: bolder;
  color: var(--primary-color);
}

.top {
  display: flex;
  justify-content: space-around;
}

.two {
  background-color: pink;
}

.three {
  background-color: greenyellow;
}

.four {
  background-color: blueviolet;
}
